trigger:
- master

pool:
  vmImage: 'ubuntu-latest'
strategy:
  matrix:
    Python36:
      python.version: '3.6'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '$(python.version)'
  displayName: 'Use Python $(python.version)'

- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
    pip install -e .
  displayName: 'Install dependencies'

- script: |
    pip install flake8
    flake8 srdatasets tests
  displayName: 'Run lint tests'

- script: |
    pip install pytest pytest-azurepipelines pytest-cov
    pytest --cov=srdatasets --cov-report=html tests
  displayName: 'pytest'
